  @keyframes growBounce {
    0% {
       opacity: 0;
       transform: scale(.2);
    }

    80% {
      opacity: 1;
      transform: scale(1.2);
    }
  
    100% {
        opacity: 1;
        transform: scale(1);
    }
  }

  @keyframes grow {
    0% {
       opacity: 0;
       transform: scale(.2);
    }

    100% {
        opacity: .9;
        transform: scale(1);
    }
  }

  @keyframes growInput {
    0% {
       opacity: 0;
       transform: scale(.2);
    }

    80% {
      opacity: 1;
      transform: scale(1.6);
    }
  
    100% {
        opacity: .9;
        transform: scale(1);
    }
  }
  
  