*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: calc(6.5px + .66vw);
  // font-size: 62.5%; // 1rem = 10px
  width: 100%;
  height: 100%;
}

body {
    // min-width: $app-min-width;
    // max-width: $app-max-width;
    margin: 0 auto;
    color: $color-black;
    position: fixed; // testing
    overflow: hidden; // testing
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    color: $color-black;
  }