*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: calc(6.5px + .66vw);
  // font-size: 62.5%; // 1rem = 10px
  width: 100%;
}

body {
    margin: 0 auto;
    color: $color-black;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    font-family: 'Acme', sans-serif;
  }

  h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 10vmin;
    color: $color-gray;
    line-height: 1;
  }

  footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: normal;
    margin-top: 1rem;
    font-size: .8rem;
  }