*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: calc(6.5px + .66vw);
  // font-size: 62.5%; // 1rem = 10px
  width: 100%;
}

body {
  margin: 0 auto;
  color: $color-black;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  font-family: 'Acme', sans-serif;
  background: radial-gradient(ellipse at 50%, $color-white 30%, $color-tan-lt);
}

.cont {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr $board-width 1fr;
    grid-row-gap: 2vmin;
}

header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  margin: 0;
}

.content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: stretch;
  align-self: stretch;
}

footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .8rem;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 10vmin;
  color: $color-blue-dk;
  line-height: 1;
  text-shadow: 3px 3px 0.5rem rgba($color-gray, .4);
  opacity: 0;
  animation: growBounce 500ms ease-in forwards;
  animation-delay: $anim-1;
}
