.board {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: stretch;
    align-self: stretch;

    display: grid;
    grid-template-rows: repeat(3, 28vmin);
    grid-template-columns: repeat(3, 28vmin);
    grid-row-gap: 4vmin;
    grid-column-gap: 4vmin;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    align-content: start;
    width: $board-width;
    margin: 0 auto;
    background: radial-gradient(ellipse at 50%, rgba($color-gray, .4) 50%, $color-white);
    filter: drop-shadow(3px 3px 0.5rem rgba($color-gray, .4));
    border-radius: 2px;
    opacity: 0;
    animation: growBounce 200ms ease-in forwards;


    &__space {
        padding: 1rem;
        background: radial-gradient(circle at 50%, $color-tan-lt 50%, $color-blue-lt);
        font-family: 'Acme', sans-serif;
        border-radius: 2px;
        opacity: 0;
        animation: grow ease-out forwards;

        @for $i from 0 through 20 { 
            &:nth-child(#{$i}) {
                animation-delay: #{$i * 110ms};
              }
            }
    
        &--white {
            background: radial-gradient(circle at 50%, $color-white 80%, $color-blue-lt);
        }

        &--winner {
            background: radial-gradient(circle at 50%, rgba($color-blue-dk, .4) 50%, $color-blue-lt);
        }

        input {
            outline: 0px;
            border: 0px;
            font-family: 'Acme', sans-serif;
            font-size: 20vmin;
            color: $color-black;
            width: 100%;
            height: 100%;
            text-align: center;
            opacity: .9;
            text-transform: uppercase;
            // To hide the cursor: 
            background: transparent; 
            text-shadow: 0 0 0 rgba($color-gray, .9); 
            // text-shadow: 3px 3px 0.5rem rgba($color-gray, .5);
            color: transparent;

        &:hover, 
        &:focus,
        &:active {
            outline: none;
        }    
    }

        &--anim {
            animation: growInput 300ms ease-in forwards;
        }

        
    }
}

