.cont {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 28vmin);
    grid-template-columns: repeat(3, 28vmin);
    grid-row-gap: 4vmin;
    grid-column-gap: 4vmin;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    align-content: start;
    width: 92vmin;
    margin: 0 auto;
    background: radial-gradient(ellipse at 50%, rgba($color-gray, .4) 50%, $color-white);
    filter: drop-shadow(3px 3px 0.5rem rgba($color-gray, .4));
    border-radius: 2px;
    opacity: 0;
    animation: growBounce 200ms ease-in forwards;


    &__space {
        padding: 1rem;
        background: radial-gradient(circle at 50%, $color-tan-lt 50%, $color-blue-lt);
        font-family: 'Acme', sans-serif;
        border-radius: 2px;
        opacity: 0;
        animation: grow ease-out forwards;

        @for $i from 0 through 20 { 
            &:nth-child(#{$i}) {
                animation-delay: #{$i * 110ms};
              }
            }
    

        input {
            outline: 0px;
            border: 0px;
            font-family: 'Acme', sans-serif;
            font-size: 20vmin;
            color: $color-black;
            width: 100%;
            height: 100%;
            text-align: center;
            opacity: .8;
            background: transparent;
            text-transform: uppercase;
            text-shadow: 3px 3px 0.5rem rgba($color-gray, .5);
            // opacity: .5;
        }

        &--anim {
            animation: growInput 300ms ease-in forwards;
        }

        
    }
}

