// COLORS
$color-white: #FFFCF2;
$color-tan-lt: #EADEDA;
$color-blue-lt: #C5D9E2;
$color-gray: #364652;
$color-black: #260C1A;

// Z-INDEX
$z-msg: 100;

// ANIMATION TIMING
$anim-1: 300ms;
$anim-2: 600ms;

// DIMENSIONS
$board-width: 92vmin;